.spGTitle {
    font-family: SansSerif;
    color: #8cf194;
    font-size: 20px;
}

#spTitle {
    font-family: SansSerif;
    color: #ffffff;
    font-size: 18px;
}

#spMenju {
    color: yellow;
}

#spSaraksts {
    font-family: SansSerif;
    color: #2e4703;
    font-size: 13px;
}